.gitconfig

.bash_history
.bash_logout
.bash_profile

.ssh
.cache
.cargo
.local
.gnupg
.npm
.node_repl_history
.mozilla
.vim
.pki
.pulse-cookie
.steam
.steampath
.steampid

.config/btop
.config/htop
.config/expressvpn
.config/autostart
.config/Thunar
.config/systemd
.config/xfce4
.config/pulse
.config/nwg-displays
.config/pavucontrol.ini
.config/MControlCenter.conf

.ignore

go
.config/go

Downloads
