.bash_history
.bash_logout
.bash_profile

.cache
.cargo
.mozilla
.local
.gnupg
.npm
.node_repl_history

.config/btop
.config/expressvpn
.config/autostart
.config/Thunar
.config/systemd
.config/xfce4
.config/go

.ignore
