window {
    margin: 0px;
    padding: 8px;
    border: 2px solid #30363D;          
    background-color: #161B22;          
    border-radius: 10px;                
    font-family: "FiraCode Nerd Font", "monospace";
    font-size: 12pt;
    color: #C9D1D9;                     
}

#input {
    margin: 8px;
    padding: 8px;
    border: 2px solid #30363D;          
    color: #C9D1D9;                     
    background-color: #21262D;          
    border-radius: 8px;                 
    outline: none;                      
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #161B22;          
    border-radius: 8px;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #161B22;
    border-radius: 8px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #C9D1D9;                     
}

#entry:selected {
    background-color: #30363D;          
    border-radius: 8px;                 
    color: #58A6FF;                     
}

#entry:hover {
    background-color: #21262D;          
    border-radius: 8px;
    color: #58A6FF;                     
}
