<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="7zip" />
    <package id="alacritty" />
    <package id="fd" />
    <package id="fzf" />
    <package id="git" />
    <package id="golang" />
    <package id="gzip" />
    <package id="luarocks" />
    <package id="make" />
    <package id="mingw" />
    <package id="firacode" />
    <package id="neovim" />
    <package id="nodejs" />
    <package id="pnpm" />
    <package id="pwsh" />
    <package id="python3" />
    <package id="ripgrep" />
    <package id="unzip" />
    <package id="Wget" />
    <package id="zig" />
</packages>
